# Local data
/data/

# Local configuration and environment
/episode.json
/.env
/compose.override.yaml

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
/build/
/dist/
/.pytest_cache/
/.ruff_cache/

# IDE
.vscode/
.idea/
